In [2]:
'''String Concatenation:
String concatenation in Python involves combining two or more strings into a single string. 
This is achieved using the + operator or the += augmented assignment operator. 
When strings are concatenated, the characters from each string are combined to form a new string.'''

'String Concatenation:\nString concatenation in Python involves combining two or more strings into a single string. \nThis is achieved using the + operator or the += augmented assignment operator. \nWhen strings are concatenated, the characters from each string are combined to form a new string.'

In [3]:
str1 = "Hello"
str2 = "World"
result = str1 + ", " + str2 + "!"

In [4]:
print(result)

Hello, World!

In [5]:
'''List Concatenation:
List concatenation in Python involves merging two or more lists into a single list. 
This can be done using the + operator. When lists are concatenated, 
the elements from each list are combined to form a new list.'''

'List Concatenation:\nList concatenation in Python involves merging two or more lists into a single list. \nThis can be done using the + operator. When lists are concatenated, \nthe elements from each list are combined to form a new list.'

In [6]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2

In [7]:
print(result)

[1, 2, 3, 4, 5, 6]

In [8]:
'''Tuple Concatenation:
Tuple concatenation in Python involves joining two or more tuples into a single tuple. 
This can be done using the + operator. 
When tuples are concatenated, the elements from each tuple are combined to form a new tuple.'''

'Tuple Concatenation:\nTuple concatenation in Python involves joining two or more tuples into a single tuple. \nThis can be done using the + operator. \nWhen tuples are concatenated, the elements from each tuple are combined to form a new tuple.'

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2

In [10]:
print(result)

(1, 2, 3, 4, 5, 6)

In [11]:
#formating types and its each example 
# Positional Formatting

In [12]:
name = "Alice"
age = 30
sentence = "My name is {}, and I am {} years old.".format(name, age)
print(sentence)

My name is Alice, and I am 30 years old.

In [13]:
#Keyword Formatting

In [14]:
name = "Bob"
age = 25
sentence = "My name is {name}, and I am {age} years old.".format(name=name, age=age)
print(sentence)

My name is Bob, and I am 25 years old.

In [15]:
#f-Strings (Literal String Interpolation)

In [16]:
name = "Charlie"
age = 35
sentence = f"My name is {name}, and I am {age} years old."
print(sentence)

My name is Charlie, and I am 35 years old.

In [17]:
# % Formatting (Old Style Formatting)

In [18]:
name = "David"
age = 40
sentence = "My name is %s, and I am %d years old." % (name, age)
print(sentence)

My name is David, and I am 40 years old.

In [19]:
#Arithematic Opeartor

In [20]:
# Addition
a = 5
b = 3
result = a + b
print("Addition:", result)

Addition: 8

In [23]:
# Subtraction
a = 8
b = 3
result = a - b
print("Subtraction:", result)

Subtraction: 5

In [24]:
# Multiplication
a = 4
b = 6
result = a * b
print("Multiplication:", result)

Multiplication: 24

In [25]:
# Division
a = 10
b = 2
result = a / b
print("Division:", result)

Division: 5.0

In [26]:
# Floor Division
a = 10
b = 3
result = a // b
print("Floor Division:", result)

Floor Division: 3

In [28]:
# Modulo Division
a = 10
b = 3
result = a % b
print("Modulo Division:", result)

Modulo Division: 1

In [29]:
# Exponentiation
a = 2
b = 3
result = a ** b
print("Exponentiation:", result)

Exponentiation: 8

In [30]:
#Example for assignment operators (except: = & +=)

In [31]:
# Subtraction Assignment
x = 10
x -= 3
print("Subtraction Assignment:", x)

Subtraction Assignment: 7

In [32]:
# Multiplication Assignment
x = 5
x *= 4
print("Multiplication Assignment:", x)

Multiplication Assignment: 20

In [33]:
# Division Assignment
x = 20
x /= 5
print("Division Assignment:", x)

Division Assignment: 4.0

In [34]:
# Floor Division Assignment
x = 20
x //= 3
print("Floor Division Assignment:", x)

Floor Division Assignment: 6

In [35]:
# Modulo Assignment
x = 10
x %= 3
print("Modulo Assignment:", x)

Modulo Assignment: 1

In [36]:
# Exponentiation Assignment
x = 2
x **= 3
print("Exponentiation Assignment:", x)

Exponentiation Assignment: 8